extends layout

block content
    h1=title
    form(action="/categoryCreate" method="post")
        table(class="table table-hover")
            thead
                tr
                    th id
                    th name
                    th action
            tbody
                each category in categories
                    tr
                        td #{category.id}
                        td #{category.name}
                        td 
                tr
                    td 
                    td 
                        input(class="form-control form-control-sm" type="text", id="name" name="name") 
                    td 
                        button(class="btn btn-primary btn-sm"  type="submit") Create
//- block pagination
//-     include paginator
//-     +paginator(total, `/discounts/`)